/* 
Colors from coolors.co 

CSS HSL 
--maximum-yellow: hsla(59, 94%, 57%, 1);
--gold-fusion: hsla(45, 16%, 39%, 1);
--dodger-blue: hsla(206, 88%, 55%, 1); 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  display: flex;
  min-height: 1000px;
  min-width: 375px;
  flex-direction: column;
  background: hsla(206, 88%, 55%, 1);
  font-family: 'Source Code Pro', monospace;
  color: hsla(59, 94%, 57%, 1);
}

body a {
  color: hsla(59, 94%, 57%, 1);
}


main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

/* ----- HEADER ----- */

header {
  height: 4em;
}

.horizontal.nav-list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: stretch;
  width: 100%;

}

.main-nav a {
  text-decoration: none;
  padding: 10px;
}

.main-nav li {
  flex: 1;
  list-style: none;
  border-right: 0px solid hsla(59, 94%, 57%, 1);
  padding: .5em 2em 0 .5em;
  transition: all 1s ease-out;
  height: 3em;
}

.main-nav li:hover {
  list-style: none;
  border-right: 3px solid hsla(59, 94%, 57%, 1);

  padding: .5em 2em 0 .5em;
  transition: all .5s ease;
}





/* ----- MAIN ----- */
main {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

/* ----- LOGO -----*/

.name-logo {
  font-size: 2.3em;
  white-space: nowrap;
  padding: .2em;
  display: flex;
  position: absolute;
  top: 0em;
  margin: auto;
  border-bottom: .7em groove hsla(59, 94%, 57%, 1);
  border-radius: .3em;
  transform: rotate(-6deg);
  z-index: 100; 
}

/* ----- COFFEE -----  */

.coffee-container {
  width: 100%;
  position: relative;
  top: 4em;
  min-width: 250px;
  padding-right: 4em;

}

.coffee-text {
  color: white;
}

.coffee-text-container {
  position: relative;
  text-decoration: none;
  height: 100%;
  width: 100%;
  margin: 4em;
  top: 7em;
  left: 1em;
}

.coffee-container a {
  position: relative;
  top: -1em;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.material-icons.md-48 {
  font-size: 30em;
  color: hsla(59, 94%, 57%, .1);
  border: 0;
  transition: all 1s ease-out;
  margin: auto;
}

.material-icons.md-48:hover {
  margin: auto;
  font-size: 33em;
  color: hsla(59, 94%, 57%, 1);
  transition: all 1s ease;
}

.about-wrapper {
    position: relative;
    top: 12em;
    width: 90vw;
    height: 40em;
    background: rgba(175, 72, 193, 0.815);
    margin: auto;
    z-index: 1; 
    border-radius: 70px;
    
    
}

.about-img-bg {
    height: 40vh;
    width: 80vw;
    margin-left: 1em;
    border-radius: 40px;
    background: rgba(201, 140, 220, 0.762);
    /* background-image: linear-gradient(180deg, #ff9d7a 0, #ff8f83 10%, #ff8089 20%, #ff718d 30%, #ff628d 40%, #f25389 50%, #d34683 60%, #b63c7d 70%, #9e3678 80%, #883174 90%, #752e71 100%); */

    /* Credit to https://shadows.brumm.af/ for this layered box shadow  */
    box-shadow:
  1.8px 1.7px 0.4px -10px rgba(0, 0, 0, 0.067),
  4.2px 4px 0.9px -10px rgba(0, 0, 0, 0.097),
  7.5px 7.3px 1.6px -10px rgba(0, 0, 0, 0.12),
  12.5px 12px 2.7px -10px rgba(0, 0, 0, 0.14),
  20.6px 19.8px 4.5px -10px rgba(0, 0, 0, 0.163),
  36.1px 34.7px 7.9px -10px rgba(0, 0, 0, 0.193),
  78px 75px 17px -10px rgba(0, 0, 0, 0.26)
;
    transform: rotate(5deg); /* Rotate shape 5 deg right */
    z-index: 2;
}
.about-text-wrapper {
    width: 80vw;
    height: 20em;
    margin: auto;
    position: relative;
    display: block;
    top: 4em;
}

.about-text {
    color: white;
    overflow-wrap: break-word; /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Text/Wrapping_Text */
}




.about-img {
    position: relative;
    display: block;
    margin: auto;
    width: 300px;
    transform: rotate(-5deg); /* Rotate image back to compensate for parent rotation */
    z-index: 3;
    border-radius: 10px;
    border: 2px dashed white; 
    top: 1em;
    
}

/* ----- FOOTER ----- */

footer {
  
  border-top: 1px solid white;
  position: relative;
  justify-content: end;
  margin-top: 15em;
  height: 10em;
  width: 100%;
 text-align: center;
 padding-top: 5em;
 bottom: 0;
 left: 0;
}

/* ----- MEDIA RULES ----- */

@media (max-width: 500px) {
  .material-icons.md-48 {
    font-size: 15em;
    color: rgb(248, 245, 42);
  }
  .material-icons.md-48:hover {
    font-size: 18em;
    color: hsla(59, 94%, 57%, 1);
    transition: all 1s ease;
  }
  .horizontal.nav-list {
    display: block;
  }
  .coffee-container {
    width: 100%;
    position: relative;
    top: 10em;
  }
  
  .name-logo {
    font-size: 1.5em;
    padding: .2em;
    display: flex;
    position: absolute;
    top: 3em;
    margin: auto;
    border-bottom: .7em groove hsla(59, 94%, 57%, 1);
    border-radius: .3em;
    transform: rotate(-10deg);
    z-index: 3;
  }
}