/* 
Colors from coolors.co 

CSS HSL 
--maximum-yellow: hsla(59, 94%, 57%, 1);
--gold-fusion: hsla(45, 16%, 39%, 1);
--dodger-blue: hsla(206, 88%, 55%, 1); 
--purple: rgba(175, 72, 193, 0.815);
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  display: flex;
  min-width: 300px;
  flex-direction: column;
  background: rgba(0, 129, 210, 0.925);
  font-family: 'Source Code Pro', monospace;
  color: white;
}

body a {
  color: white;
}

main {
  min-height: 56em;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

main p {
  font-size: .9em;
}

/* ----- NAV HEADER ----- */

.nav-list {
  padding-bottom: .7em;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-bottom: .3em groove hsla(206, 88%, 55%, 1);
}

.main-nav li {
  flex: 1;
  list-style: none;
  border: 0px solid hsla(59, 94%, 57%, 1);
  padding: .5em 2em 0 2em;
  transition: all .5s ease-out;
  height: 3em;
  text-align: center;
}

.main-nav li a {
  text-decoration: none;
  padding: 10px;
  display: block;
}

.main-nav li a:hover {
  flex: 1;
  list-style: none;
  color: rgba(175, 72, 193, 0.815);
  border-bottom: 3px solid rgba(175, 72, 193, 0.815);
  transition: all .5s ease;
  height: 3em;
}


/* ----- MAIN ----- */
main {
  margin: 1em;
  min-height: 1080px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

/* ----- NAME LOGO -----*/

.name-logo {
  min-width: 200px;
  font-size: 4em;
  white-space: nowrap;
  padding: .5em;
  position: relative;
  color: white;
  border-bottom: .7em groove hsla(206, 88%, 55%, 1);
  border-radius: .3em;
 
  text-align: center;
  transform: rotate(-6deg);
  transition: all .8s ease-out;
  margin-bottom: 1em;
}

.name-logo:hover {
  transition: all 1s ease;
  border-bottom: .8em groove rgba(175, 72, 193, 0.815);
}

.name-logo a {
  display: block;
  text-decoration: none;
  color: white;
}

/* ----- COFFEE -----  */

.coffee-container {
  position: relative;
  padding-top: 1em;
  width: 100%;
  min-width: 20em;
  min-height: 45em;

}

.coffee-text-container {
  text-align: left;
  margin: 4em;
}

.coffee-container a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}



.material-icons.md-48 {
  font-size: 30em;
  color: rgba(248, 245, 42, 0.242);
  border: 0;
  transition: all 1s ease-out;
  margin: auto;
}

.material-icons.md-48:hover {
  margin: auto;
  font-size: 31em;
  color: rgb(70, 31, 2);
  transition: all 2s ease;
}


/* ----- FOOTER ----- */

footer {
  border-top: .7em groove hsla(206, 88%, 55%, 1);
  position: relative;
  justify-content: flex-end;


  height: 4em;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
}

/* ----- MEDIA RULES ----- */

@media (max-width: 500px) {
  .nav-list {
    display: block;
  }

  .name-logo {
    font-size: 2.2em;
    padding: .2em;
    top: 1em;
   
    border-radius: .4em;
    transform: rotate(-10deg);
  }

  .coffee-container {
    padding: 1em;
    position: relative;
  }

  .material-icons.md-48 {
    font-size: 17em;
    color: rgba(248, 245, 42, 0.242);
  }

  .material-icons.md-48:hover {
    font-size: 18em;
    color: rgba(175, 72, 193, 0.815);
    transition: all 1s ease;
  }
}