*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-image: url(img/bookshelf-bg.jpg);
    background-repeat: repeat-y;
    background-size: 200rem;
    background-position: -400px;
}

.main-wrapper {
    display: flex;
    height: 90vh;
    margin: 4rem;
    padding: 2rem;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.796);
}

.dropzone {
    background-color: rgba(245, 245, 220, 0.442);
    background-position: 0 bottom;
    min-height: 20rem;
    width: 80%;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    text-align: center;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}



.bookshelf-element {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 25% 25% 25% 25% 25;
}

.book-element {
    height: 30rem;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    line-break: anywhere;
    list-style-type: none;
    width: 12rem;
    border: 4px solid darkolivegreen;
    border-radius: .2rem;
    background-color: burlywood;
    font-weight: 900;
    font-size: 15px;
    line-height: 1.9;
    overflow: auto;
}

.book-element:hover {
    background-color: aliceblue;
}

.book-text1 {
    font-size: 1.4rem;
}

.book-text2 {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.book-text3 {
    font-size: .8rem;
    font-weight: 400;
}

.book-text4 {
    font-size: 1rem;
    font-weight: 200;
}



input {
    font-size: 1.5rem;
}

button {
    font-size: 1rem;
    padding: .5rem;
    margin: .4rem;
}

#log {
    width: 400px;
    height: 200px;
    background-color: white;
    display: none;
}

.dropdown-wrapper {
    color: white
}

.fav {
    background-color: pink;
}


/* BUTTONS */

.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}