* {
    box-sizing: border-box;
    margin: 0;
    background-color: #101010;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    min-height: 100vh;
}

/* ---------- LOGO ---------- */
.logo-container {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    animation-duration: 3s;
    padding: 50px 50px 0;  
}

.logo__logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo__cursor {
    visibility: visible
}

.logo__header {
    color:whitesmoke;
    font-family: 'Roboto Mono';
    font-size:90px;
    font-weight: 400;
    margin-left: 75px;
}

.logo__header:before {
    position: absolute;
    content: ">";
    left: 50px;
}

.logo__subtitle {
    font-family: 'Roboto Mono';
    font-size: 40px;
    color:gray;
    margin-left: 75px;
}

.logo__subtitle a{
    text-decoration: none;
}

.logo__drummer {
    color: transparent;
}

.logo__drummer:hover {
    color: orange;
}

.project-one:hover {
    color:tomato;
}

.project-two:hover{
    color:royalblue;
}

/* ------------------ PROJECTS ------------------ */
.projects-container {
    background-color: whitesmoke;
    width: 100vw;
    height: 0;
    margin-top: 50px;
    transition: height 1s;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    display: flex;
    flex-direction: row;
}

.projects {
    width: 100vw;
    height: inherit;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: whitesmoke;
    overflow-x: auto;
    flex-direction: row;
    -webkit-overflow-scrolling: touch;
}
 
.project {
    height: 90%;
    width: 400px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    font-size: 35px;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.project span {
    color: transparent;
    background-color: transparent;
}

.project:hover {
    height: 95%;
    width: 440px;
    color: white;
    text-decoration: underline;
    text-decoration-color: tomato;
}

.project:hover span {
    background-color: transparent;
    color: white;
    font-size: 100%;
    width: 50%;
}

.project--frank {
    background-image: url("./imgs/Jeff_Icons-Frankenstyle.png");
}

.project--bubbles {
    background-image: url("./imgs/Jeff_Icons-Thought.png");
}

.project--music {
    background-image: url("./imgs/Jeff_Icons-Music.png");
}

.project--drama {
    background-image: url("./imgs/Jeff_Icons-Dinner.png");
}

.project--laptop {
    background-image: url("./imgs/Jeff_Icons-HTML-Laptop.png");
}

.project__link {
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------ JEFF'S FACE ------------------ */
.jeff-container {
    margin-top: 40vh;
    height: 40vh;
    width: 40vh;
    z-index: 500;
    position: absolute;
    margin-left:-40vh;
    background-image: url("./imgs/jeffFace.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    animation-duration: .5s;
}

.move-right {
    animation-duration: 1.7s;
    -webkit-transition: 1.7s;
    -moz-transition: 1.7s;
    -ms-transition: 1.7s;
    -o-transition: 1.7s;
    transition: 1.7s;
    margin-left: 0 !important;
} 
.move-left {
    animation-duration: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
    margin-left: -40vh !important;
} 

/* ------------------ TEXT ------------------ */
.text-container {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: whitesmoke;
    background-color: #101010;
    animation-delay: 1s;
    animation-duration: 3s;
    padding: 50px;
    flex:2;
    transition: padding-top 2s;
    -webkit-transition: padding-top 2s;
    -moz-transition: padding-top 2s;
    -ms-transition: padding-top 2s;
    -o-transition: padding-top 2s;
}

.text--copy {
    width: 50%;
    font-size: 40px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.text--kenny {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: tomato;
    -webkit-text-decoration-color: tomato;
}

.text--kenny:hover {
    color: gray;
}

.text--reveal {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: orange;
    -webkit-text-decoration-color: orange;
}

.text--reveal:hover {
    color: gray;
}

.text--together {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: royalblue;
    -webkit-text-decoration-color: royalblue;
}

.text--together:hover {
    color :gray;
}

.text--copy a {
    color: inherit;
    text-decoration: none;
}

/* ---------- FOOTER ---------- */
.footer-container {
    color: 2px solid saddlebrown;
    display: flex;
    justify-content: center;
    bottom: 0;
    padding-top: 50px;
    padding-bottom: 2vh;
    animation-delay: .5s;
    animation-duration: 3s;
}

.icons img {
   min-height: 50px; 
   max-height: 8vh;
}

/* ---------- MEDIA QUERIES ---------- */
@media (max-width: 800px) {
    .projects-container {
        margin-top: 0;
    }
    
    .logo-container {
        padding: 15px;
    }

    .logo__logo {
        justify-content: flex-start;
        align-items: flex-start;
    } 

    .logo__header {
        font-size: 70px;
        margin-left: 60px;
    }

    .logo__header:before {
        left: 30px;
    }

    .project {
        width: 200px;
    }

    .project:hover {
        width: 210px;
    }

    .project span {
        padding: 0 15px;
    }

    .project:hover span {
        background-color: transparent;
        color: white;
        font-size: 100%;
        width: 100%;
    }

    .logo__subtitle {
        font-size: 30px;
        margin-left: 60px;
    }

    .project span {
        color:white;
        font-size: 20px;
    }

    .project:hover span{
        font-size: 21px;
    }
    
    .text-container {
        padding: 0 75px;
    }

    .text--copy {
        width: 100%;
        font-size: 30px;
    }

    .footer__container {
        padding-bottom: 15px;
    }
}

@media (max-width:430px){
    .project {
        width: 200px;
        margin: 15px;
    }

    .project:hover {
        width: 210px;
    }

    .project span {
        color:white;
    }
}
