*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a:link,
a:visited {

  color: whitesmoke;
  text-decoration: none;
}

a:hover,
a:active {
  color: rgb(30, 77, 131);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  /* background-image: url("/imgs/hubble-bg.webp"); */
  background-position: center;
  background-clip: content-box;
  background-size: contain;
  background-color: rgb(15, 15, 15);
}

#container {
  /* Must be set to fixed px. */
  width: 100%;
  height: auto;
}

.logos {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: 90px;
}

header {
  width: 100%;
}

.anchor-style {
  color: white;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  min-width: 400px;
  min-height: 400px;
  color: white;
  padding: 2rem;
}

.info-img {
  width: 75%;
  height: auto;
  border: 1px solid;
  margin: 1em;
}

.links {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}

/* Highcharts */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 100vw;
  width: 100vw;
}

.highcharts-figure,
.highcharts-data-table table {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 200px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.reset-button rect {
  color: 'rgb(255,255,255)';
  font-size: '15px';
  font-weight: 'light';
  letter-spacing: '1px';
  height: '20px';
  display: 'block'
}

.reset-button text {
  color: 'rgb(255,255,255)';
  font-size: '15px';
  font-weight: 'light';
  letter-spacing: '1px';
  height: '20px';
  display: 'block'
}